<div class="container">
    <h2 style="display: flex; align-items: center; justify-content: space-between;">
        {{device.name}}
        <a mat-icon-button routerLink=".."><mat-icon>close</mat-icon></a>
    </h2>

    <mat-card class="schema-card">
        <h2>Data Schema</h2>

        <mat-card-content>
            <app-data-schema-tree [dataSchema]="device.schema" (updateNode)="updateNode($event)" (deleteSchema)="deleteSchema($event)"></app-data-schema-tree>
            <!-- <app-data-schema-node [node]="device" (addNode)="addNode($event)"></app-data-schema-node> -->
        </mat-card-content>

        <mat-card-actions align="end">
            <button mat-button>Add</button>
        </mat-card-actions>
    </mat-card>
</div>