<div class="container">
    <h2 style="display: flex; align-items: center; justify-content: space-between;">
        {{device.name}}
        <a mat-icon-button routerLink=".."><mat-icon>close</mat-icon></a>
    </h2>

    <mat-card class="info-card">
        <h2>Information</h2>

        <mat-card-content>
            <div class="row">
                <div class="data-label">
                    <div>Name:</div>
                </div>
                <div class="data-value">{{device.name}}</div>
            </div>
            
            <div class="row">
                <div class="data-label">
                    <div>GUID:</div>
                </div>
                <div class="data-value">{{device.guid}}</div>
            </div>
        </mat-card-content>

        <mat-card-actions align="end">
            <button mat-button color="primary" (click)="editInfo()">Edit</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="schema-card">
        <h2>Data Schema</h2>

        <mat-card-content>
            <app-data-schema-tree [dataSchema]="device.schema" [mode]="'addOnly'" (deleteSchema)="deleteSchema($event)"></app-data-schema-tree>
        </mat-card-content>

        <mat-card-actions align="end">
            <button mat-button color="primary" (click)="addSchema()">Add</button>
        </mat-card-actions>
    </mat-card>
</div>