<div class="container">
    <h2 style="display: flex; align-items: center; justify-content: space-between;">
        Add Data Schema
        <a mat-icon-button routerLink=".."><mat-icon>close</mat-icon></a>
    </h2>

    <mat-accordion>
        <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>Information</mat-panel-title>
            </mat-expansion-panel-header>

            <form [formGroup]="schemaInfoForm" novalidate>
                <mat-form-field class="full-width">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Temperature" formControlName="name" required>
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>Key</mat-label>
                    <input matInput placeholder="degrees" formControlName="key" required>
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>Unit</mat-label>
                    <input matInput placeholder="F" formControlName="unit">
                </mat-form-field>
            </form>

            <mat-action-row>
                <button mat-button color="primary" (click)="nextStep()">Next</button>
            </mat-action-row>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle [disabled]="schemaInfoForm.invalid">
            <mat-expansion-panel-header>
                <mat-panel-title>Nested Schema</mat-panel-title>
            </mat-expansion-panel-header>

            <app-data-schema-node [node]="schema" (addNode)="addNode($event)"></app-data-schema-node>

            <mat-action-row style="justify-content: space-between; padding-left: 8px;">
                <div>
                    <button mat-button color="warn" (click)="prevStep()" style="margin: 0;">Previous</button>
                </div>
                <div>
                    <button mat-button color="primary" (click)="addSchema(schema)">Add</button>
                    <button mat-button color="primary" (click)="save(schemaInfoForm)">Save</button>
                </div>
            </mat-action-row>
        </mat-expansion-panel>
    </mat-accordion>

    <!-- <mat-card style="margin-top: 8px;">
        <mat-card-header>
            <mat-card-title>Data Schema</mat-card-title>
        </mat-card-header>
        <mat-card-content class="wrapper">
            <app-data-schema-node [node]="device" (addNode)="addNode($event)"></app-data-schema-node>
        </mat-card-content>
        <mat-card-actions class="align-right">
            <a mat-button (click)="addSchema(device)">Add</a>
            <a mat-button routerLink="..">Cancel</a>
            <a mat-button>Save</a>
        </mat-card-actions>
    </mat-card> -->
</div>